<div class="transaction-list w-full p-6">
    <div *ngFor="let transaction of transactionHistory" class="transaction space-y-4">
      <div>
        <h2 class="text-sm text-grey-600 font-sans"> Message</h2> 
        <p class="text-lg font-sans text-black font-medium">{{ transaction.message }}</p>
      </div>
      <div>
        <h2 class="text-sm text-grey-600 font-sans">Amount</h2> 
        <p class="text-lg font-sans text-black font-medium">{{ transaction.amount }}</p>
      </div>
      <div>
        <h2 class="text-sm text-grey-600 font-sans">Time</h2> 
        <p class="text-lg font-sans text-black font-medium">{{ formatDate(transaction.time) }}</p></div>
    </div>
  </div>
  