<div class="flex flex-col justify-between gap-4 items-center p-6">
    <button class="px-4 py-2 bg-black text-white rounded w-full" (click)="changeGame()">Change game /
        date</button>
    <button (click)="viewSelectedTokens()" class="px-4 py-2 bg-black text-white rounded w-full">
        View selected tokens
    </button>
</div>


<!-- Note -->
<!-- you can work on design -->
<!-- Dont need to add 'a' tag in the below form -->

<form>
    <mat-form-field>
      <mat-label>Links</mat-label>
      <mat-select (selectionChange)="onLinkSelected($event.value)">
        <mat-option *ngIf="youtubeLink" [value]="youtubeLink">
            YouTube Link
        </mat-option>
        <mat-option *ngIf="youtubeLiveLink" [value]="youtubeLiveLink">
            YouTube Live Link
        </mat-option>
        <mat-option *ngIf="facebookLink" [value]="facebookLink">
          Facebook Link
        </mat-option>
        <mat-option *ngIf="facebookLiveLink" [value]="facebookLiveLink">
          Facebook Live Link
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

<div class="pt-8 p-4 w-full max-w-xs mx-auto justify-center items-center space-y-8 h-user-token overflow-y-scroll">


    <div class="flex gap-4 items-center justify-between">
        <div>
            <div class="flex gap-2 items-center">
                <div class="bg-blue-200 w-3 h-3 rounded"></div>
                <span class="font-sans text-sm">Selected</span>
            </div>

        </div>
        <div>
            <div class="flex gap-2 items-center">
                <div class="bg-gray-200 w-3 h-3 rounded"></div>
                <span class="font-sans text-sm">Available</span>
            </div>
        </div>
        <div>
            <div class="flex gap-2 items-center">
                <div class="bg-red-200 w-3 h-3 rounded"></div>
                <span class="font-sans text-sm">Unavailable</span>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-4 gap-4 ">

        <div *ngFor="let seat of seats; let i = index"
            class="p-4 bg-gray-200 cursor-pointer rounded-xl text-center font-sans"
            (dblclick)="toggleSeatSelection(seat.tokenNumber,seat.isSelected)" [class.bg-red-200]="seat?.isSelected"
            [class.bg-blue-200]="seat?.userSelected">
            {{ seat?.tokenNumber}}

        </div>
    </div>
</div>

<!-- Main modal -->
<div *ngIf="viewSelected == true" id="defaultModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0  min-h-screen flex justify-center items-center bg-overlay">
    <div class="relative w-full max-w-2xl max-h-full ">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    View Selected Tokens
                </h3>
                <button (click)="viewSelectedTokens()" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="grid grid-cols-12 gap-4 p-4 space-y-6">
                <div class="col-span-12">
                    <!-- Display the transaction history data here -->
                    <div class="overflow-auto h-96">
                        <!-- <table *ngIf="viewSelected">
                        <thead>
                            <td>Token no.</td>
                            <td>Owner</td>
                        </thead>
                        <tbody *ngFor="let seat of seats; let i = index">
                            <td class="p-4 cursor-pointer text-center font-sans" *ngIf="seat?.isSelected">
                                {{seat?.tokenNumber}}</td>
                            <td class="p-4 cursor-pointer text-center font-sans" *ngIf="seat?.isSelected">
                                {{seat?.selectedBy}}</td>
                        </tbody>
                    
                    </table> -->

                        <table class="w-full border-collapse" *ngIf="viewSelected">
                            <thead>
                                <tr>
                                    <th class="py-2 px-4 bg-gray-200 w-24 text-left font-sans">Token no</th>
                                    <th class="py-2 px-4 bg-gray-200 text-left font-sans">Owner</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let seat of seats; let i = index">
                                    <td class="py-2 px-4 border text-left font-sans" *ngIf="seat?.isSelected">
                                        {{seat?.tokenNumber}}</td>
                                    <td class="py-2 px-4 border text-left font-sans" *ngIf="seat?.isSelected">
                                        {{seat?.selectedBy}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>



