<!-- SET NEW PASSWORD DIV -->
<!-- <div class="container mx-auto flex flex-col justify-center items-center w-full h-screen px-8 py-8">
    <div class="w-full float-left">
        <img class="w-auto mb-6" src="assets/images/logo/logoipsium.svg" alt="Logo image">
        <h1 class="font-bold text-3xl text--primary font-sans text-left">Set New Password</h1>
        <p class="font-medium text--secondary text-lg font-sans text-left mt-2">Enter Whatsapp Number

        </p>
    </div>
    <form class="flex flex-col my-12 w-full">
        <div class="relative z-0 w-full mb-6">
            <input type="text" name="password" placeholder=" "
                class="block rounded-lg font-sans px-3 pb-3 pt-4 w-full text-base font-semibold text-gray-900 bg-white border--primary appearance-none focus:outline-none focus:ring-0 focus:border-[#8544E4]" />
            <label for="password"
                class="absolute duration-300 top-4 left-4 z-10 origin-0 text-gray-500 focus:text-grey-900 bg-white text-base">Enter
                Whatsapp Number</label>
        </div>


     <div class="h-24"></div>
        <button type="button"
            class="w-full mt-20 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2">send otp</button>
    </form>
</div> -->
<!-- SET NEW PASSWORD DIV -->


<div class="container mx-auto flex flex-col justify-center items-center w-full h-screen px-8 py-8">
    <div class="w-full float-left">
        <img class="w-auto mb-6" src="assets/images/logo/logoipsium.svg" alt="Logo image">
        <h1 class="font-bold text-3xl text--primary font-sans text-left">Verification</h1>
        <p class="font-medium text--secondary text-lg font-sans text-left mt-2">We have send OTP on <span
                class="text--primary font-semibold">9999999999</span> please enter into the field

        </p>
    </div>
    <form class="flex flex-col my-12 w-full">
        <div class="relative z-0 w-full mb-6">
            <div class="flex flex-col space-y-16">
                <div class="flex flex-row items-center justify-between mx-auto w-full max-w-xs">
                    <div class="w-12 h-12 ">
                        <input
                            class="w-full h-full flex flex-col items-center justify-center text-center px-4 outline-none rounded-lg border--primary text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
                            type="text" name="" id="">
                    </div>
                    <div class="w-12 h-12 ">
                        <input
                            class="w-full h-full flex flex-col items-center justify-center text-center px-4 outline-none rounded-lg border--primary text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
                            type="text" name="" id="">
                    </div>
                    <div class="w-12 h-12 ">
                        <input
                            class="w-full h-full flex flex-col items-center justify-center text-center px-4 outline-none rounded-lg border--primary text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
                            type="text" name="" id="">
                    </div>
                    <div class="w-12 h-12 ">
                        <input
                            class="w-full h-full flex flex-col items-center justify-center text-center px-4 outline-none rounded-lg border--primary text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700"
                            type="text" name="" id="">
                    </div>
                </div>
            </div>
        </div>

        <div class="h-24"></div>

        <button type="button"
            class="w-full mt-20 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2">SET
            PASSWORD</button>
        <div class="flex items-center mt-4 justify-between">
            <p class="text-center text-base text--secondary font-sans font-medium">00:45 </p>
            <a href="sign-up.html" class="font-sans text-base text--primary font-semibold ">Resend OTP?</a>
        </div>

    </form>
</div>