<div class="grid grid-cols-12 gap-4 p-4 w-full">
  <div class="col-span-12">
    <h2 class="text-2xl font-bold font-sans">Available Balance </h2>
  </div>
  <div class="col-span-12">
    <div>
      <ul class="flex gap-4 items-center justify-center border-b">
        <li class="w-full text-center">
          <a [class.activeTab]="activeTab === 'deposit'" (click)="activeTab = 'deposit'"
            class="bg-white inline-block py-2 px-4 font-semibold cursor-pointer">
            Deposit
          </a>
        </li>
        <li class="w-full text-center">
          <a [class.activeTab]="activeTab === 'withdraw'" (click)="activeTab = 'withdraw'"
            class="bg-white inline-block py-2 px-4 font-semibold cursor-pointer">
            Withdraw
          </a>
        </li>
        <li class="w-full text-center">
          <a [class.activeTab]="activeTab === 'history'" (click)="activeTab = 'history';getTransactionHistory()"
            class="bg-white inline-block py-2 px-4 font-semibold cursor-pointer">
            History
          </a>
        </li>
      </ul>


      <div [ngSwitch]="activeTab">
        <div *ngSwitchCase="'deposit'" class="p-4">

          <form [formGroup]="depositForm">
            <div class="space-y-4">
              <div>
                <h3 class="text-base md:text-lg font-medium font-sans">Deposit</h3>
                <select [(ngModel)]="payMethod" [ngModelOptions]="{ standalone: true }" (change)="selectItem()" (input)="selectItem()"
                  class="w-full p-2 border border-gray-300 rounded mt-1">
                  <option *ngFor="let option of options" [ngValue]="option">{{ option.label }}</option>
                </select>
              </div>
              
              

              <div>
                <label for="mobileNumber" class="text-base md:text-lg font-medium font-sans">{{selectedValue}} Mobile
                  Number </label>
                <input type="tel" formControlName="mobileNumber" id="mobileNumber"
                  class="w-full p-2 border border-gray-300 rounded mt-1">
                <mat-error
                  *ngIf="depositForm.controls['mobileNumber'].touched && (depositForm.get('mobileNumber').errors?.pattern || depositForm.get('mobileNumber').errors?.required)"
                  class="text-red-500 text-sm mt-1">
                  Please enter valid phone number
                </mat-error>
              </div>
              <div>
                <label for="trnxId" class="text-base md:text-lg font-medium font-sans">Transaction ID</label>
                <input type="tel" formControlName="transactionId" id="trnxId"
                  class="w-full p-2 border border-gray-300 rounded mt-1">
              </div>
              <div>
                <label for="amount" class="text-base md:text-lg font-medium font-sans">Amount</label>
                <input type="tel" formControlName="amount" id="amount"
                  class="w-full p-2 border border-gray-300 rounded mt-1">
              </div>
            </div>

            <button
              class="px-4 py-2 bg-black text-white font-sans font-medium rounded hover:bg-white hover:text-black border-black border-2 border-solid w-full whitespace-nowrap mt-8"
              (click)="deposit()">Submit</button>
          </form>
        </div>


        <div *ngSwitchCase="'withdraw'" class="p-4">
          <!-- <h3 class="text-lg font-semibold mb-2">Withdraw</h3> -->

          <div>
            <label for="withdrawAmount" class="text-base md:text-lg font-medium font-sans">Amount</label>
            <input type="tel" id="withdrawAmount" class="w-full p-2 border border-gray-300 rounded mt-1"
              [(ngModel)]="withdrawAmount">
          </div>
          <button
            class="px-4 py-2 bg-black text-white font-sans font-medium rounded hover:bg-white hover:text-black border-black border-2 border-solid w-full whitespace-nowrap mt-8"
            (click)="withdraw()">Submit</button>
        </div>

        <div *ngSwitchCase="'history'" class="p-4">
          <!-- <h3 class="text-lg font-semibold mb-2">History</h3> -->

          <!-- Display deposit and withdraw history here -->
          <div class="grid grid-cols-12 gap-4">
            <div *ngFor="let transaction of transactionHistory" class="col-span-12">
              <div
                class="rounded-3xl space-y-4 p-4 px-10 inline-block overflow-hidden shadow-xl w-full cursor-pointer relative">
               <p class="transform -rotate-90 origin-bottom-left absolute w-full bottom-0 flex justify-center items-center text-base font-medium left-5 capitalize bg--green px- rounded">{{transaction?.status}}</p>

                <div>
                  <h2 class="text-sm text-grey-600 font-sans">Transaction ID</h2>
                  <p class="text-lg font-medium font-sans text-black"> {{transaction?.transactionId}}</p>
                </div>
                <div>
                  <h2 class="text-sm text-grey-600 font-sans">Transaction Method</h2>
                  <p class="text-lg font-medium font-sans text-black"> {{transaction?.method}}</p>
                </div>
                <div>
                  <h2 class="text-sm text-grey-600 font-sans">Amount</h2>
                  <p class="text-lg font-medium font-sans text-black"> {{ transaction?.amount }}</p>
                </div>
                <!-- <div>
                  <h2 class="text-sm text-grey-600 font-sans">Status</h2>
                  <p class="text-lg font-medium font-sans text-black"> {{transaction?.status}}</p>
             
                </div> -->
                <div>
                  <h2 class="text-sm text-grey-600 font-sans">Message</h2>
                  <p class="text-lg font-medium font-sans text-black">{{transaction?.message}}</p>
                </div>
              </div>
            </div>
            <!-- <div class="flex flex-col gap-4">
                  <div
                    class="flex items-center w-24 gap-2 bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                    <span class="w-1.5 h-1.5 bg-red-900 rounded-full"></span>
                    Pending
                  </div>
                  <div
                    class="flex items-center w-24 gap-2 bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                    <span class="w-1.5 h-1.5 bg-green-900 rounded-full"></span>
                    Success
                  </div>
                  <div
                    class="flex items-center w-24 gap-2 bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                    <span class="w-1.5 h-1.5 bg-yellow-900 rounded-full"></span>
                    Decline
                  </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>