/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.-z-1 {
    z-index: -1;
  }

  .origin-0 {
    transform-origin: 0%;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label,
  select:focus ~ label,
  select:not([value='']):valid ~ label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.75rem;
    padding: 0 1rem;
    color: #000 !important;
    font-weight: 600;

  }

  input:focus ~ label,
  select:focus ~ label {
    /* @apply text-black; left-0; */
    color: #000 !important;
    left: 0px;
    font-weight: 600;
  }
  input:focus {
    border: 2px solid #000 !important;
  }
  body {
    background-color:#fff!important;
  }
  .text--primary {color: #000;}
  .text--secondary {
    color: #666666;
  }
  .text__dark-secondary {
    color: #666666;
  }
  .border--primary {
    border: 2px solid #999999;
  }
  fuse-vertical-navigation .fuse-vertical-navigation-wrapper {
    background-color: #000 !important;
  }
  .card--rounded {
    border-radius: 2rem;
  }
  app-slot-token {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-light-blue {
    background-color: #f2f7fa;
  }
  
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    box-shadow: none;
  }
  .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element  {
    outline: none !important;
  }
  app-token > div {
    width: 100% !important;
  }
  @media (max-width:991px) {
    .h-right-screen {
      height: 100vh;
    }
    .h-user-token {
      height: 80vh;
    }
  }
  @media (min-width:1024px) {
    .h-right-screen {
      height: 788px;
    }
  }