<div class="w-full bg-slate-100">

    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-lg p-4">
            <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
            </a>
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <a href="mailto:cracker@gmail.com" class="flex items-center gap-2 text-sm lg:text-base font-sans text-blue-600 font-medium hover:underline">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    cracker@gmail.com</a>

                <a href="tel:5541251234" class="flex items-center gap-2 text-sm lg:text-base font-sans text-blue-600 font-medium hover:underline">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                     (555) 412-1234</a>
                <a href="#"
                    class="text-white font-sans bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded text-sm px-4 py-2 text-center">Login</a>
            </div>
        </div>
    </nav>
    <nav class="bg-main-nav">
        <div class="max-w-screen-lg px-4 py-3 mx-auto">
            <div class="flex items-center justify-between gap-4">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                    <li>
                        <a href="#" class="text-gray-900 text-sm lg:text-base font-sans hover:font-semibold hover:text-blue-600 hover:underline" aria-current="page">Retail
                            Price</a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-900 text-sm lg:text-base font-sans hover:font-semibold hover:text-blue-600 hover:underline">Family pack </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-900 text-sm lg:text-base font-sans hover:font-semibold hover:text-blue-600 hover:underline">Whole Sale</a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-900 text-sm lg:text-base font-sans hover:font-semibold hover:text-blue-600 hover:underline">Gift box</a>
                    </li>
                </ul>
                <div class="flex items-center gap-4">
                    <div class="relative mr-4">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                        <span class="flex items-center justify-center absolute -top-3 -right-4 w-5 h-5 text-sm font-sans font-bold text-white bg-blue-700 rounded-full">1</span>
                    </div>
                    <button type="button" class="flex items-center gap-2 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-5 xl:px-6 py-2.5 xl:py-2 text-center">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                     Contact Us</button>
                </div>
                
            </div>
        </div>
    </nav>
    <div class="max-w-screen-lg px-4 py-3 mx-auto">
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="flex flex-wrap items-center col-span-12 mt-2 intro-y sm:flex-nowrap">
              <!-- <button class="transition duration-200 border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary mr-2 shadow-md"> Add New Category </button> -->
              <!-- <div class="relative">
                <button class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 rounded-md font-medium focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed cursor-pointer px-2 !box" id="headlessui-menu-button-95" aria-haspopup="true" aria-expanded="false" data-headlessui-state="" type="button">
                  <span class="flex items-center justify-center w-5 h-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                      <line x1="12" y1="5" x2="12" y2="19"></line>
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                  </span>
                </button>
              </div> -->
              <select class=" border-white transition duration-200 ease-in-out text-sm shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 w-20 mt-3 !box sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
              <div class="md:text-xl font-medium mx-auto md:block text-black uppercase"> Crackers  </div>
               
                <div class="w-full mt-3 sm:w-auto sm:mt-0">
                    <div class="relative w-56  shadow-sm rounded-md bg-white text-slate-500 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40">
                    <input class="border-none transition rounded-md duration-200 ease-in-out text-sm  placeholder:text-slate-400/90  " type="text" placeholder="Search...">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 absolute inset-y-0 right-0 w-4 h-4 my-auto mr-3">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                    </div>
                </div>
            </div>
            <div class="col-span-12 overflow-auto intro-y lg:overflow-visible">
              <table class="w-full text-left border-spacing-y-[10px] border-separate">
                <!-- <thead class="">
                  <tr class="">
                    <th class="font-medium px-5 py-3 border-b-0 whitespace-nowrap"> IMAGES </th>
                    <th class="font-medium px-5 py-3 border-b-0 whitespace-nowrap"> CATEGORY NAME </th>
                    <th class="font-medium px-5 py-3 border-b-0 whitespace-nowrap"> SLUG </th>
                    <th class="font-medium px-5 py-3 text-center border-b-0 whitespace-nowrap"> STATUS </th>
                    <th class="font-medium px-5 py-3 text-center border-b-0 whitespace-nowrap"> ACTIONS </th>
                  </tr>
                </thead> -->
                <tbody class="">
                  <tr class="intro-x mb-4">
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md w-72 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <div class="flex items-start gap-2">
                            <a href="" class="font-medium whitespace-nowrap">1.</a>
                            <div>
                                <a href="" class="font-medium whitespace-nowrap">10 CM ELECTRIC SPARKLER</a>
                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">       10 செ.மீ சாதா கம்பி</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">5 BOX</a>
                    </td>

                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 275.00</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 220</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 55.00</a>
                    </td>
                   
                   
                    <td class="px-5 first:rounded-l-md last:rounded-r-md w-32 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b] py-0 relative before:block before:w-px before:h-8 before:bg-slate-200 before:absolute before:left-0 before:inset-y-0 before:my-auto before:dark:bg-darkmode-400">
                        <div class="custom-number-input">
                            <div class="flex flex-row  w-full rounded-lg relative bg-transparent mt-1">
                                <button data-action="decrement" class=" bg-slate-100 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                    <span class="m-auto text-2xl font-thin">−</span>
                                </button>
                                    <input readonly type="number" class="p-0  border-none !outline-none focus:!outline-none text-center w-full bg-slate-100 font-semibold text-md focus:text-black  md:text-base cursor-default flex items-center text-gray-700 " name="custom-input-number" value="0">
                                <button data-action="increment" class="bg-slate-100 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                    <span class="m-auto text-2xl font-thin">+</span>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 55.00</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md w-40 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <div class="image-fit zoom-in ">
                          <img class="h-16 object-contain w-full cursor-pointer shadow-[0px_0px_0px_2px_#fff,_1px_1px_5px_rgba(0,0,0,0.32)] dark:shadow-[0px_0px_0px_2px_#3f4865,_1px_1px_5px_rgba(0,0,0,0.32)]" alt="Midone" src="/assets/images/crackers.jpg">
                        </div>
                    </td>
                  </tr> 
                  <tr class="h-2"></tr>
                  <tr class="intro-x mb-4">
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md w-72 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <div class="flex items-start gap-2">
                            <a href="" class="font-medium whitespace-nowrap">1.</a>
                            <div>
                                <a href="" class="font-medium whitespace-nowrap">10 CM ELECTRIC SPARKLER</a>
                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">       10 செ.மீ சாதா கம்பி</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">5 BOX</a>
                    </td>

                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 275.00</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 220</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 55.00</a>
                    </td>
                   
                   
                    <td class="px-5 first:rounded-l-md last:rounded-r-md w-32 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b] py-0 relative before:block before:w-px before:h-8 before:bg-slate-200 before:absolute before:left-0 before:inset-y-0 before:my-auto before:dark:bg-darkmode-400">
                        <div class="custom-number-input">
                            <div class="flex flex-row  w-full rounded-lg relative bg-transparent mt-1">
                                <button data-action="decrement" class=" bg-slate-100 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                    <span class="m-auto text-2xl font-thin">−</span>
                                </button>
                                    <input readonly type="number" class="p-0  border-none !outline-none focus:!outline-none text-center w-full bg-slate-100 font-semibold text-md focus:text-black  md:text-base cursor-default flex items-center text-gray-700 " name="custom-input-number" value="0">
                                <button data-action="increment" class="bg-slate-100 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                    <span class="m-auto text-2xl font-thin">+</span>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md text-center bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <a href="" class="font-medium whitespace-nowrap">Rs. 55.00</a>
                    </td>
                    <td class="px-5 py-3 first:rounded-l-md last:rounded-r-md w-40 bg-white border-b-0 shadow-[20px_3px_20px_#0000000b]">
                        <div class="image-fit zoom-in ">
                          <img class="h-16 object-contain w-full cursor-pointer shadow-[0px_0px_0px_2px_#fff,_1px_1px_5px_rgba(0,0,0,0.32)] dark:shadow-[0px_0px_0px_2px_#3f4865,_1px_1px_5px_rgba(0,0,0,0.32)]" alt="Midone" src="/assets/images/crackers.jpg">
                        </div>
                    </td>
                  </tr>               
                </tbody>
              </table>
            </div>
            <div class="flex flex-wrap items-center col-span-12 intro-y sm:flex-row sm:flex-nowrap">
              <nav class="w-full sm:w-auto sm:mx-auto">
                <ul class="flex w-full mr-0 sm:w-auto sm:mr-auto">
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                        <polyline points="11 17 6 12 11 7"></polyline>
                        <polyline points="18 17 13 12 18 7"></polyline>
                      </svg>
                    </a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                        <polyline points="15 18 9 12 15 6"></polyline>
                      </svg>
                    </a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">...</a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">1</a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3 !box font-medium dark:bg-darkmode-400">2</a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">3</a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">...</a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                        <polyline points="9 18 15 12 9 6"></polyline>
                      </svg>
                    </a>
                  </li>
                  <li class="flex-1 sm:flex-initial">
                    <a class="transition duration-200 border py-2 rounded-md cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed min-w-0 sm:min-w-[40px] shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 sm:mr-2 dark:text-slate-300 px-1 sm:px-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                        <polyline points="13 17 18 12 13 7"></polyline>
                        <polyline points="6 17 11 12 6 7"></polyline>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
             
            </div>
          </div>
    </div>

</div>