<div class="text-center p-4 pt-8">
  <p class="text-3xl font-semibold text-gray-800 mb-4">
    Unlock the Power of Friendship and Earnings! 🚀
  </p>
  <p class="text-lg text-gray-600 mb-8">
    Refer your friends to join us and earn up to 5000 in rewards! It's a win-win for everyone. Share the joy, share the wealth. Start referring today!
  </p>
  <button (click)="copyToClipboard()" class="w-40 px-4 py-2 bg-black text-white font-sans font-medium rounded hover:bg-white hover:text-black border-black border-2 border-solid whitespace-nowrap">
    Copy Link
  </button>
</div>
