<div class="container mx-auto my-10 text-center">
  <h1 class="text-3xl font-semibold mb-6">Contact Us</h1>
  <div class="flex justify-center space-x-4">
      <a href="https://www.facebook.com/people/Playinsport-India/pfbid0VCrVNTNSBhinG32zfM8Hd2xLKD1SWyBrpBcX735yDCTbQBt7j9Z61qdhq6W4Axqil/" target="_blank" class="text-blue-500 hover:text-blue-700">
          <i class="fab fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/playinsportindia/" target="_blank" class="text-pink-500 hover:text-pink-700">
          <i class="fab fa-instagram-square fa-2x"></i>
      </a>
      <a href="https://t.me/playinsportindia" target="_blank" class="text-blue-400 hover:text-blue-600">
          <i class="fab fa-telegram fa-2x"></i>
      </a>
      <a href="https://www.youtube.com/@playinsportindia" target="_blank" class="text-red-500 hover:text-red-700">
          <i class="fab fa-youtube-square fa-2x"></i>
      </a>
  </div>
</div>
