.container {
    max-width: 800px;
  }
  
  .selected {
    background-color: blue;
    color: white;
  }
  
  .unavailable {
    background-color: gray;
    color: white;
  }
  
  .bg-overlay {
    background: rgba(0, 0, 0, 0.2);
  }
  .-top-bg {
    top: -25%;
  }
  [aria-current]:not([aria-current="false"]) {
   background-color: #000 !important;
  }
  