<form>
        <div class="grid grid-cols-12 gap-4 p-4 py-6 w-full">
            <div class="col-span-12">
                <label class="text-sm font-sans" for="name">Name:</label>
                <input type="text" class="form-control rounded" id="name" [(ngModel)]="name" name="name" required>        
            </div>
            <div class="col-span-12">
                <label class="text-sm font-sans" for="prize">Prize:</label>
                <input type="text" class="form-control rounded" id="prize" [(ngModel)]="prize" name="prize" required>
        
            </div>

            <div class="col-span-12">
                <label class="text-sm font-sans" for="tokenPrice">Token Price:</label>
                <input type="text" class="form-control rounded" id="tokenPrice" [(ngModel)]="tokenPrice" name="tokenPrice" required>
        
            </div>

            <div class="col-span-12">
                <label class="text-sm font-sans" for="date">Date:</label>
                <input type="date" class="form-control w-full" id="date" [(ngModel)]="date" name="date" required>
        
            </div>

            <div class="col-span-12">
                <label class="text-sm font-sans" for="maximumTokenPerUser">Maximum Token per User:</label>
                <input type="number" class="form-control rounded" id="maximumTokenPerUser" [(ngModel)]="maximumTokenPerUser"
                    name="maximumTokenPerUser" required>
            </div>

            <div class="col-span-12">
                <label class="text-sm font-sans" for="totalTokenNumber">Total Token Number:</label>
            <input type="number" class="form-control rounded" id="totalTokenNumber" [(ngModel)]="totalTokenNumber"
            name="totalTokenNumber" required>
            </div>
            <div class="col-span-12">
                <button type="submit" (click)="tokenCreation()" class="p-4 bg-black text-white rounded-md w-full">Submit</button>
           </div>
        </div>
     
       
      
      
       
       

        

</form>