<form>
    
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>

        <label for="prize">Prize:</label>
        <input type="text" class="form-control" id="prize" [(ngModel)]="prize" name="prize" required>

        <label for="tokenPrice">Token Price:</label>
        <input type="text" class="form-control" id="tokenPrice" [(ngModel)]="tokenPrice" name="tokenPrice" required>

        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="date" name="date" required>

        <label for="maximumTokenPerUser">Maximum Token per User:</label>
        <input type="number" class="form-control" id="maximumTokenPerUser" [(ngModel)]="maximumTokenPerUser"
            name="maximumTokenPerUser" required>

        <label for="totalTokenNumber">Total Token Number:</label>
        <input type="number" class="form-control" id="totalTokenNumber" [(ngModel)]="totalTokenNumber"
            name="totalTokenNumber" required>

    <button type="submit" (click)="tokenCreation()" class="btn btn-primary">Submit</button>
</form>