<!-- <div class="grid grid-cols-12 gap-4 p-4 mt-4 mb-8">
    <div class="col-span-12 relative h-10">
        <select [(ngModel)]="create" [ngModelOptions]="{ standalone: true }"
            class="w-full p-2 border border-gray-300 rounded absolute">
            <option [ngValue]="true">Create</option>
            <option [ngValue]="false">Search</option>
        </select>
    </div>
    <div class="col-span-12" *ngIf="create">
        <form  [formGroup]="tokenForm" class="grid grid-cols-12 gap-4">

            <div class="col-span-12">
                <label for="name" class="text-base md:text-lg font-medium font-sans">Name</label>
                <input type="text" formControlName="name" class="form-control border border-gray-300 rounded w-full mt-2"
                    id="name" name="name" required>
            </div>

            <div class="col-span-12">
                <label for="prize" class="text-base md:text-lg font-medium font-sans">Prize</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="prize"
                    formControlName="prize" name="prize" required>
            </div>


            <div class="col-span-12">
                <label for="tokenPrice" class="text-base md:text-lg font-medium font-sans">Token Price</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="tokenPrice"
                    formControlName="tokenPrice" name="tokenPrice" required>
            </div>

            <div class="col-span-12">
                <label for="date" class="text-base md:text-lg font-medium font-sans">Date</label>
                <input type="date" class="form-control border border-gray-300 rounded w-full mt-2" id="date"
                    formControlName="date" name="date" required>
            </div>

            <div class="col-span-12">
                <label for="maximumTokenPerUser" class="text-base md:text-lg font-medium font-sans">Maximum Token per
                    User</label>
                <input type="number" class="form-control border border-gray-300 rounded w-full mt-2" id="maximumTokenPerUser"
                    formControlName="maximumTokenPerUser" name="maximumTokenPerUser" required>

            </div>

            <div class="col-span-12">
                <label for="youtubeLink" class="text-base md:text-lg font-medium font-sans">YouTube Link</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="youtubeLink"
                    formControlName="youtubeLink" name="youtubeLink" required>
            </div>

            <div class="col-span-12">
                <label for="fbLink" class="text-base md:text-lg font-medium font-sans">Facebook Link</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="fbLink"
                    formControlName="facebookLink" name="fbLink" required>
            </div>

            <div class="col-span-12">
                <div>
                    <label for="totalTokenNumber" class="text-base md:text-lg font-medium font-sans">Total Token
                        Number</label>
                    <input type="number" class="form-control border border-gray-300 rounded w-full mt-2"
                        id="totalTokenNumber" formControlName="totalTokenNumber" name="totalTokenNumber" required>
                </div>
                <button type="submit" (click)="tokenCreation()"
                    class="px-4 py-2 bg-black text-white font-sans font-medium rounded hover:bg-white hover:text-black border-black border-2 border-solid w-full whitespace-nowrap mt-8">Submit</button>

            </div>


        </form>
    </div>
    <div *ngIf="!create" class="col-span-12 mt-4">
        
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="number" [(ngModel)]="rounds" class="border border-gray-300 rounded w-full"
                            placeholder="Search round">
                        <button (click)="searchRound(rounds)"
                            class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">search</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="col-span-12">
                    <label for="name" class="text-base md:text-lg font-medium font-sans">Name</label>
                    <input type="text" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="totalTokenNumber" class="text-base md:text-lg font-medium font-sans">Total Token
                        Number</label>
                    <input type="text" [(ngModel)]="totalTokenNumber" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="maximumTokenPerUser" class="text-base md:text-lg font-medium font-sans">Maximum Token
                        Per User</label>
                    <input type="text" [(ngModel)]="maximumTokenPerUser" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="date" class="text-base md:text-lg font-medium font-sans">Date</label>
                    <input type="text" [(ngModel)]="date" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>


                <div class="col-span-12">
                    <label for="tokenPrice" class="text-base md:text-lg font-medium font-sans">Token Price</label>
                    <input type="text" [(ngModel)]="tokenPrice" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="prize" class="text-base md:text-lg font-medium font-sans">Number of Prize</label>
                    <input type="text" [(ngModel)]="prize" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="token" class="text-base md:text-lg font-medium font-sans">Token</label>
                    <input type="text" [(ngModel)]="token" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="status" class="text-base md:text-lg font-medium font-sans">Status</label>
                    <input type="text" [(ngModel)]="status" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="Facebook Link"
                            [(ngModel)]="facebookLinks" [ngModelOptions]="{ standalone: true }"
                            [readonly]=" !isEditing">
                        <button (click)="editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full"
                            placeholder="Facebook Live Link" [(ngModel)]="facebookLiveLink"
                            [ngModelOptions]="{ standalone: true }" [readonly]=" !isEditing">
                        <button (click)="editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="YouTube Link"
                            [readonly]="!isEditing" [(ngModel)]="youtubeLinks" [ngModelOptions]="{ standalone: true }">
                        <button (click)=" editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="YouTube Live Link"
                            [readonly]="!isEditing" [(ngModel)]="youtubeLiveLink"
                            [ngModelOptions]="{ standalone: true }">
                        <button (click)=" editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-span-12">
                    <button type="submit" *ngIf="isEditing" (click)="liveUpdate()" [(ngModel)]="action"
                        class="w-full mt-8 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2 cursor-pointer">
                        Submit
                    </button>

                </div>
                <div class="col-span-12">
                    <div *ngIf="!isEditing">
                        <label class="text-base md:text-lg font-medium font-sans">
                            Select Action
                        </label>
                        <select [(ngModel)]="action" [ngModelOptions]="{ standalone: true }"
                            class="w-full p-2 border border-gray-300 rounded">
                            <option [ngValue]="'finalise'">Finalise</option>
                            <option [ngValue]="'refund'">Refund</option>
                        </select>
        
                        <button type="submit" (click)="updateRound()"
                            class="w-full mt-8 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2 cursor-pointer">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
    </div>
</div>
 -->




<div class="grid grid-cols-12 gap-4 p-4 mt-4 mb-8">
    <div class="col-span-12 relative h-10">
        <select [(ngModel)]="create" [ngModelOptions]="{ standalone: true }"
            class="w-full p-2 border border-gray-300 rounded absolute">
            <option [ngValue]="true">Create</option>
            <option [ngValue]="false">Search</option>
        </select>
    </div>
    <div class="col-span-12" *ngIf="create">
        <form  [formGroup]="tokenForm" class="grid grid-cols-12 gap-4">

            <div class="col-span-12">
                <label for="name" class="text-base md:text-lg font-medium font-sans">Name</label>
                <input type="text" formControlName="name" class="form-control border border-gray-300 rounded w-full mt-2"
                    id="name" name="name" required>
            </div>

            <div class="col-span-12">
                <label for="prize" class="text-base md:text-lg font-medium font-sans">Prize</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="prize"
                    formControlName="prize" name="prize" required>
            </div>


            <div class="col-span-12">
                <label for="tokenPrice" class="text-base md:text-lg font-medium font-sans">Token Price</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="tokenPrice"
                    formControlName="tokenPrice" name="tokenPrice" required>
            </div>

            <div class="col-span-12">
                <label for="date" class="text-base md:text-lg font-medium font-sans">Date</label>
                <input type="date" class="form-control border border-gray-300 rounded w-full mt-2" id="date"
                    formControlName="date" name="date" required>
            </div>

            <div class="col-span-12">
                <label for="maximumTokenPerUser" class="text-base md:text-lg font-medium font-sans">Maximum Token per
                    User</label>
                <input type="number" class="form-control border border-gray-300 rounded w-full mt-2" id="maximumTokenPerUser"
                    formControlName="maximumTokenPerUser" name="maximumTokenPerUser" required>

            </div>

            <div class="col-span-12">
                <label for="youtubeLink" class="text-base md:text-lg font-medium font-sans">YouTube Link</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="youtubeLink"
                    formControlName="youtubeLink" name="youtubeLink" required>
            </div>

            <div class="col-span-12">
                <label for="fbLink" class="text-base md:text-lg font-medium font-sans">Facebook Link</label>
                <input type="text" class="form-control border border-gray-300 rounded w-full mt-2" id="fbLink"
                    formControlName="facebookLink" name="fbLink" required>
            </div>

            <div class="col-span-12">
                <div>
                    <label for="totalTokenNumber" class="text-base md:text-lg font-medium font-sans">Total Token
                        Number</label>
                    <input type="number" class="form-control border border-gray-300 rounded w-full mt-2"
                        id="totalTokenNumber" formControlName="totalTokenNumber" name="totalTokenNumber" required>
                </div>
                <button type="submit" (click)="tokenCreation()"
                    class="px-4 py-2 bg-black text-white font-sans font-medium rounded hover:bg-white hover:text-black border-black border-2 border-solid w-full whitespace-nowrap mt-8">Submit</button>

            </div>


        </form>
    </div>
    <div *ngIf="!create" class="col-span-12 mt-4">
        
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input [disabled]="isFetched" type="number" [(ngModel)]="rounds" class="border border-gray-300 rounded w-full"
                            placeholder="Search round">
                        <button *ngIf="!isFetched" (click)="searchRound(rounds)"
                            class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">search</mat-icon>
                        </button>
                        <button *ngIf="isFetched" (click)="clear()"
                            class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">clear</mat-icon>
                        </button>
                    </div>
                   
                </div>
                <div>
                    <p (click)="changeTab(1)">1</p>
                    <p (click)="changeTab(2)">2</p>
                    <p (click)="changeTab(3)">3</p>
                </div>
                <div *ngIf="tab==1">
                <div class="col-span-12">
                    <label for="name" class="text-base md:text-lg font-medium font-sans">Name</label>
                    <input type="text" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="totalTokenNumber" class="text-base md:text-lg font-medium font-sans">Total Token
                        Number</label>
                    <input type="text" [(ngModel)]="totalTokenNumber" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="maximumTokenPerUser" class="text-base md:text-lg font-medium font-sans">Maximum Token
                        Per User</label>
                    <input type="text" [(ngModel)]="maximumTokenPerUser" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="date" class="text-base md:text-lg font-medium font-sans">Date</label>
                    <input type="text" [(ngModel)]="date" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>


                <div class="col-span-12">
                    <label for="tokenPrice" class="text-base md:text-lg font-medium font-sans">Token Price</label>
                    <input type="text" [(ngModel)]="tokenPrice" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="prize" class="text-base md:text-lg font-medium font-sans">Number of Prize</label>
                    <input type="text" [(ngModel)]="prize" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="token" class="text-base md:text-lg font-medium font-sans">Token</label>
                    <input type="text" [(ngModel)]="token" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>

                <div class="col-span-12">
                    <label for="status" class="text-base md:text-lg font-medium font-sans">Status</label>
                    <input type="text" [(ngModel)]="status" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded" [readonly]="!isEditings">
                </div>
                
            </div>
            <div *ngIf="tab==2">
                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="Facebook Link"
                            [(ngModel)]="facebookLinks" [ngModelOptions]="{ standalone: true }"
                            [readonly]=" !isEditing">
                        <!-- <button (click)="editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button> -->
                    </div>
                </div>

                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full"
                            placeholder="Facebook Live Link" [(ngModel)]="facebookLiveLink"
                            [ngModelOptions]="{ standalone: true }" [readonly]=" !isEditing">
                        <!-- <button (click)="editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button> -->
                    </div>
                </div>

                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="YouTube Link"
                            [readonly]="!isEditing" [(ngModel)]="youtubeLinks" [ngModelOptions]="{ standalone: true }">
                        <!-- <button (click)=" editing()" class="bg-black p-2 rounded flex items-center justify-center">
                            <mat-icon class="text-white">edit</mat-icon>
                        </button> -->
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="flex gap-4 items-center">
                        <input type="text" class="border border-gray-300 rounded w-full" placeholder="YouTube Live Link"
                            [readonly]="!isEditing" [(ngModel)]="youtubeLiveLink"
                            [ngModelOptions]="{ standalone: true }">
                       
                    </div>
                </div>
                <div class="col-span-12">
                    <button type="submit"  (click)="liveUpdate()" [(ngModel)]="action"
                        class="w-full mt-8 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2 cursor-pointer">
                        Submit
                    </button>

                </div>
                </div>

                <div *ngIf="tab==3">
                <div >
                    <label class="text-base md:text-lg font-medium font-sans">
                        Select Action
                    </label>
                    <select [(ngModel)]="action" [ngModelOptions]="{ standalone: true }"
                        class="w-full p-2 border border-gray-300 rounded">
                        <option [ngValue]="'finalise'">Finalise</option>
                        <option [ngValue]="'refund'">Refund</option>
                    </select>
                   
                   
                </div>
                <!-- <button *ngIf="!isEditing" (click)=" editing()" class="bg-black p-2 rounded flex items-center justify-center">
                    <mat-icon class="text-white">edit</mat-icon>
                </button> -->
               
                <div class="col-span-12">
                        <button  type="submit" (click)="updateRound()"
                            class="w-full mt-8 text-white focus:outline-none bg-black rounded-md font-sans font-semibold text-sm px-5 py-2.5 text-center mr-2 uppercase mb-2 cursor-pointer">
                            Submit
                        </button>
                </div>
            </div>
            </div>
    </div>
</div>