<div class="grid grid-cols-12 gap-4 md:gap-6 w-full p-4">
  <div class="col-span-12">
    <div class="shadow-lg rounded-md">
      <ul class="flex flex-wrap gap-2 text-sm font-medium text-center text-gray-500">
        <li [ngClass]="expandedCard === 'cricket' ?  'border-b-2 border-black' : ''">
          <a (click)="toggleCard('cricket')"
            class="inline-flex items-center justify-center p-4 t rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
            <img src="assets/icons/cricket.png" class="w-6 h-6 mx-auto" alt="">
          </a>
        </li>
        <div class="border-r border-solid h-6 my-auto"></div>
        <li [ngClass]="expandedCard === 'tennis' ?  'border-b-2 border-black' : ''">
          <a (click)="toggleCard('tennis')"
            class="inline-flex items-center justify-center p-4 text-blue-600 rounded-t-lg group" aria-current="page">
            <img src="assets/icons/tennis.png" class="w-6 h-6 mx-auto" alt="">
          </a>
        </li>

        <div class="border-r border-solid h-6 my-auto"></div>
        <li [ngClass]="expandedCard === 'football' ?  'border-b-2 border-black' : ''">
          <a (click)="toggleCard('football')"
            class="inline-flex items-center justify-center p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
            <img src="assets/icons/soccer.png" class="w-6 h-6 mx-auto" alt="">
          </a>
        </li>
      </ul>
    </div>

    <!-- Sub-cards for Cricket -->
    <div *ngIf="expandedCard === 'cricket'" class="py-4">
      <!-- Add your sub-cards here for Cricket -->
      <div *ngFor="let data of cricket;let i = index">
        <div [routerLink]="['/user/exchange/cricket']" [queryParams]="{ team1: data.team1,team2:data.team2 }"
          class="col-span-12">
          <div class="box px-4 py-4 mb-4  zoom-in  shadow-card border border-grey">
            <div class="float-right mb-2 text-right inline-flex rounded gap-3 bg-red-100 px-4  ">
             <div class="flex items-end justify-end">
              <h2 class="text-black text-base font-normal font-sans">Ends In : </h2>
              <p class="text-black text-base font-semibold font-sans">09/09/23</p>
             </div>
            </div>
            <div class="flex items-center justify-between">
              <div>
                <img src="assets/icons/india.png" class="w-12 h-12 object-contain" alt="">
                <h2 class="text-black text-lg font-semibold text-center uppercase">{{data?.team1}}</h2>
              </div>
              <h2 class="text-black text-lg p-4 rounded-md"> <span class="font-normal">vs</span> </h2>
              <div>
                <img src="assets/icons/pakistan.png" class="w-12 h-12  object-contain" alt="">
                <h2 class="text-black text-lg font-semibold text-center uppercase">{{data?.team2}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>