<!-- <div class="grid grid-cols-4 gap-4">
    <div
      *ngFor="let seat of seats; let i = index"
      class="p-4 bg-gray-200 cursor-pointer rounded-xl"
      (dblclick)="toggleSeatSelection(seat.tokenNumber,seat.isSelected)"
      
      [class.bg-red-500]="seat.isSelected"
  
      [class.bg-blue-500]="seat.userSelected"
    >
      {{ seat.tokenNumber}}
      
    </div>
  </div> -->
<div *ngIf="gameId==null" class=" w-full p-6">
  <div class="col-span-12">
    <mat-form-field class="w-full">
      <input matInput [matDatepicker]="picker" placeholder="Select a date" [(ngModel)]="selectedDate"
        (ngModelChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="flex gap-4 mb-4">
   
    <ul class="flex gap-4 items-center justify-center border-b w-full">
      <li class="w-full text-center">
        <a [class]="selectedTab === 'live' ? 'cursor-pointer text-lg font-medium text-black text-black border-b-2 border-solid border-black' : 'cursor-pointer text-lg font-medium text-black'" 
        (click)="selectedTab = 'live'" class="bg-white inline-block px-4 font-semibold cursor-pointer">
        Live
        </a>
      </li>
      <li class="w-full text-center">
        <a [class]="selectedTab === 'completed' ? 'cursor-pointer text-lg font-medium text-black border-b-2 border-solid border-black' : 'cursor-pointer text-lg font-medium text-black'"
        (click)="selectedTab = 'completed'" class="bg-white inline-block px-4 font-semibold cursor-pointer">
        Completed
        </a>
      </li>
      <!-- <li class="w-full text-center">
        <a [class.activeTab]="activeTab === 'history'" (click)="activeTab = 'history';getTransactionHistory()"
          class="bg-white inline-block py-2 px-4 font-semibold cursor-pointer">
          History
        </a>
      </li> -->
    </ul>
  </div>
  
  
  <div  *ngFor="let card of games;let i = index">

        <div *ngIf="card?.status=='live' && selectedTab=='live'" class="rounded-3xl inline-block overflow-hidden shadow-xl w-full cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-300 mt-4  bg-white" >
          <div
            (click)="gameId=card.round">
            <div (click) = "getLink(card.round)" >
            <div class="relative group w-full overflow-hidden bg-black h-32 rounded-t-3xl">
              <img
                src="{{card?.image}}"
                class="object-cover w-full h-full transform duration-700 backdrop-opacity-100" />
              <div class="absolute bg-gradient-to-t from-black w-full h-full flex items-end justify-center -inset-y-0">
                <h1 class="font-bold text-2xl text-white mb-2">{{card?.round}}</h1>
              </div>
            </div>
            <div class="grid grid-cols-12 gap-4 p-4">
              <div *ngIf="card?.status==='live'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Live</p>
              </div>
              <div *ngIf="card?.status=='finalise'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Completed</p>
              </div>
              <div *ngIf="card?.status=='refunded'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Cancelled</p>
              </div>
              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Round </h2>
                <p class="text-black text-xl font-semibold font-sans">{{ card?.round }}</p>
              </div>
              <div class="col-span-6" *ngIf="card?.winnerList != ''">
                <p class="text-black text-base font-normal font-sans">Winner Token: </p>
                <p class="text-black text-xl font-semibold font-sans">{{ card?.winnerList }}</p>
              </div>

              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Price per token </h2>
                <p class="text-black text-xl font-semibold font-sans">{{card?.tokenPrice}}</p>
              </div>
              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Total Token </h2>
                <p class="text-black text-xl font-semibold font-sans">{{card?.tokenDetails.length}}</p>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div *ngIf="card?.status!='live' && selectedTab=='completed'" class="rounded-3xl inline-block overflow-hidden shadow-xl w-full cursor-pointer transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-300 mt-4 bg-white" >
          <div
            (click)="gameId=card.round">
            <div (click) = "getLink(card.round)" >
            <div class="relative group w-full overflow-hidden bg-black h-32 rounded-t-3xl">
              <img
                src="{{card?.image}}"
                class="object-cover w-full h-full transform duration-700 backdrop-opacity-100" />
              <div class="absolute bg-gradient-to-t from-black w-full h-full flex items-end justify-center -inset-y-0">
                <h1 class="font-bold text-2xl text-white mb-2">{{card?.round}}</h1>
              </div>
            </div>
            <div class="grid grid-cols-12 gap-4 p-4">
              <div *ngIf="card?.status==='live'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Live</p>
              </div>
              <div *ngIf="card?.status=='finalise'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Completed</p>
              </div>
              <div *ngIf="card?.status=='refunded'" class="col-span-6">
                <p class="text-black text-base font-normal font-sans">Status: </p>
                <p class="text-black text-xl font-semibold font-sans">Cancelled</p>
              </div>
              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Round </h2>
                <p class="text-black text-xl font-semibold font-sans">{{ card?.round }}</p>
              </div>
              <div class="col-span-6" *ngIf="card?.winnerList != ''">
                <p class="text-black text-base font-normal font-sans">Winner Token: </p>
                <p class="text-black text-xl font-semibold font-sans">{{ card?.winnerList }}</p>
              </div>

              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Price per token </h2>
                <p class="text-black text-xl font-semibold font-sans">{{card?.tokenPrice}}</p>
              </div>
              <div class="col-span-6">
                <h2 class="text-black text-base font-normal font-sans">Total Token </h2>
                <p class="text-black text-xl font-semibold font-sans">{{card?.tokenDetails.length}}</p>
              </div>
            </div>
          </div>
          </div>
        </div>
  </div>
</div>
<div #container><app-select-token *ngIf="gameId!=null" (activity)="activity($event)" [gameId]="gameId"
    [youtubeLink]="youtubeLink" [youtubeLiveLink]="youtubeLiveLink" [facebookLink]="facebookLink"
    [facebookLiveLink]="facebookLiveLink"></app-select-token></div>