.shadow-card {
        box-shadow: 0px 3px 20px #0000000b;
}
.border-grey {
    border-color: rgb(226 232 240);
}
.box {
    box-shadow: 0px 3px 20px #0000000b;
    position: relative;
    border-radius: 0.375rem;
    // border-color: transparent;
    background-color: rgb(255 255 255 / 10);
}
.bg-light-blue {
    color: #f1f5f900;
}