<!-- exchange.component.html -->

<div [formGroup]="exchangeForm">
  <label for="name">Exchange Name:</label>
  <input type="text" id="name" formControlName="name" />
  <div *ngIf="exchangeForm.get('name')?.hasError('required') && exchangeForm.get('name').touched">
    <p class="error-message">Name is required.</p>
  </div>
  <button (click)="createExchange()">Create Exchange</button>
</div>

<div *ngIf="exchangeId !== null">
  <p>Created Exchange ID: {{ exchangeId }}</p>
  <button (click)="findExchange()">Find Exchange</button>
</div>

<div *ngIf="errorMessage !== null">
  <p>{{ errorMessage }}</p>
</div>



<form [formGroup]="upExchangeForm" (ngSubmit)="update()">
  <div class="form-group">
    <label for="id">Exchange ID</label>
    <input type="number" id="id" formControlName="id" class="form-control" required minlength="1" />
    <div *ngIf="upExchangeForm.get('id')?.hasError('required')" class="text-danger">
      ID is required.
    </div>
    <div *ngIf="upExchangeForm.get('id')?.hasError('minlength')" class="text-danger">
      ID must be at least 1 character.
    </div>
  </div>
  <button (click)="searchExchange()">Search</button>
  <div class="form-group">
    <label for="name">Exchange Name</label>
    <input type="text" id="name" formControlName="name" class="form-control" required minlength="1" />
    <div *ngIf="upExchangeForm.get('name')?.hasError('required')" class="text-danger">
      Name is required.
    </div>
    <div *ngIf="upExchangeForm.get('name')?.hasError('minlength')" class="text-danger">
      Name must be at least 1 character.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" >
    {{ exchange ? 'Update' : 'Create' }} Exchange
  </button>
</form>