<!-- exchange.component.html -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="currentTab = 'create'">Create Exchange</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="currentTab = 'view'">View/Update Exchange</a>
  </li>
</ul>

<div *ngIf="currentTab === 'create'">
  <div [formGroup]="exchangeForm">
    <label for="name">Exchange Name:</label>
    <input type="text" id="name" formControlName="name" />
    <div *ngIf="exchangeForm.get('name')?.hasError('required') && exchangeForm.get('name').touched">
      <p class="error-message">Name is required.</p>
    </div>
    <button (click)="createExchange()">Create Exchange</button>
  </div>

  <div *ngIf="exchangeId !== null">
    <p>Created Exchange ID: {{ exchangeId }}</p>
  </div>

  <div *ngIf="errorMessage !== null">
    <p>{{ errorMessage }}</p>
  </div>
</div>

<div *ngIf="currentTab === 'view'">
  <form [formGroup]="upExchangeForm">
    <div class="form-group">
      <label for="id">Matches :</label>
      <select id="id" formControlName="id">
        <option *ngFor="let match of recentData" [value]="match.id">{{ match.name }}</option>
      </select>
      <div *ngIf="upExchangeForm.get('id').hasError('required') && upExchangeForm.get('id').touched">
        <p class="error-message">Match is required.</p>
      </div>
    </div>
    <button (click)="searchExchange()">Search</button>
    <div class="form-group">
      <label for="name">Exchange Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" required minlength="1" />
    </div>
    <button [disabled]="upExchangeForm.get('name')?.invalid" type="submit" class="btn btn-primary" (click)="update()">
      Update Exchange
    </button>
  </form>
</div>